@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to NutriPlan</h1>
    <div class="d-flex justify-content-center gap-3 mt-3">
    <a asp-controller="Ingredients" asp-action="Index" class="btn btn-dark btn-lg" >Ingredients</a>
    <a asp-controller="Recipe" asp-action="Index" class="btn btn-dark btn-lg">Recipes</a>
    </div>
</div>
